---
import { Image } from "astro:assets";
import Avatar_333 from "../Avatar_333.webp";
import { SectionTitle } from "./UI";
---

<section id="about" class="w-full min-h-screen px-6 py-4 pt-14 bg-background">
    <SectionTitle
        title="About Me"
        color="primary"
        className="h-screen flex flex-col justify-center"
    >
        <div class="flex_center flex-col lg:flex-row w-full h-full py-30 gap-15">
<Image
    src={Avatar_333}
    alt="About_Avatar"
    class="Fade_Up scale-x-[-1] lg:mx-30"
    loading="lazy"
    layout="intrinsic"
    style="width: auto; height: auto; max-width: none;"
/>

            <div
                class="Fade_Up w-full md:w-[80%] lg:w-[60%] flex justify-center items-start flex-col gap-4 lg:border-l border-primary py-8 lg:pl-10"
            >
                <h2 class="Fade_Up text-[1.5em] font-bold">Hey there! 👋</h2>
                <p class="Fade_Up text-justify">
I’m Suresh, a creative professional with 15+ years’ experience, evolving from graphic design to self-taught full-stack web and mobile development—driven by creativity, problem-solving, and continuous learning.
</p>


                <p class="Fade_Up text-justify">
I craft dynamic, visually engaging, and user-focused digital experiences—ranging from personal websites to large-scale applications—always blending design aesthetics with technical precision.


                </p>
                <p class="Fade_Up text-justify">

If you’re looking for someone who merges creative vision with solid technical skills, I’m ready to bring your ideas to life.

                </p>
            </div>
        </div>

        <!-- <picture class="flex_center">
            <source
                media="(prefers-color-scheme: dark)"
                srcset="https://raw.githubusercontent.com/ChiragChrg/ChiragChrg/output/github-contribution-grid-snake-dark.svg"
            />
            <img
                alt="github contribution grid snake animation"
                src="https://raw.githubusercontent.com/ChiragChrg/ChiragChrg/output/github-contribution-grid-snake.svg"
            />
        </picture> -->
    </SectionTitle>
</section>
