---
import { CenterTitle } from "./UI";
import { ContactForm } from "./Preact";
import { ContactArt } from "../assets/SVGs";
import { Image } from "astro:assets";
---

<section
    id="contact"
    class="w-full min-h-screen mb-16 lg:mb-[15em] px-6 py-4 pt-14 bg-background"
>
    <CenterTitle title="Contact" color="primary" />

    <div class="w-full flex_center flex-col p-4 text-[1.2em] text-center">
        <h3
            class="Fade_Up gradientText font-ubuntu text-[2rem] lg:text-[2.4rem]"
        >
            Let's collaborate!
        </h3>
        <p class="Fade_Up">Contact me to discuss your web development needs</p>
        <p class="Fade_Up">or just to say hello. 😉</p>
    </div>

    <div
        class="flex_center flex-col lg:flex-row w-full h-full gap-4 lg:gap-10 lg:px-20 pt-8 pb-16"
    >
        <div class="relative w-full flex_center flex-col">
            <div
                class="Fade_Up w-full max-w-[350px] scale-[0.9] lg:scale-1 lg:max-w-[450px] aspect-square rounded-full border-2 border-dashed border-contactSocialColor mb-8 md:mb-0 md:mt-7"
                id="socialCircle"
            >
                <a
                    href="https://www.facebook.com/mesureshks/"
                    class="socialIcon absolute w-12 lg:w-16 aspect-square flex_center p-2 lg:p-4 bg-background outline-dashed outline-2 outline-contactSocialColor rounded-full"
                    title="Facebook"
                    target="_blank"
                    aria-label="Facebook"
                    rel="noreferrer"
                >
                    <svg
                        stroke="currentColor"
                        fill="currentColor"
                        style="color: var(--heroSocialColor);"
                        stroke-width="0"
                        viewBox="0 0 16 16"
                        height="30"
                        width="30"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                        >
                        </path>
                    </svg>
                </a>
                <a
                    href="https://www.instagram.com/sureshksmy/"
                    class="socialIcon absolute w-12 lg:w-16 aspect-square flex_center p-2 lg:p-4 bg-background outline-dashed outline-2 outline-contactSocialColor rounded-full"
                    title="Instagram"
                    target="_blank"
                    aria-label="Instagram"
                    rel="noreferrer"
                >
                    <svg
                        stroke="currentColor"
                        fill="currentColor"
                        style="color: var(--heroSocialColor);"
                        stroke-width="0"
                        viewBox="0 0 16 16"
                        height="30"
                        width="30"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"
                        >
                        </path>
                    </svg>
                </a>
                <a
                    href="mailto:hello@suresh.app"
                    class="socialIcon absolute w-12 lg:w-16 aspect-square flex_center p-2 lg:p-4 bg-background outline-dashed outline-2 outline-contactSocialColor rounded-full"
                    title="Gmail"
                    target="_blank"
                    aria-label="Gmail"
                    rel="noreferrer"
                >
                    <svg
                        stroke="currentColor"
                        fill="currentColor"
                        style="color: var(--heroSocialColor);"
                        stroke-width="0"
                        role="img"
                        viewBox="0 0 24 24"
                        height="30"
                        width="30"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <title></title>
                        <path
                            d="M24 5.457v13.909c0 .904-.732 1.636-1.636 1.636h-3.819V11.73L12 16.64l-6.545-4.91v9.273H1.636A1.636 1.636 0 0 1 0 19.366V5.457c0-2.023 2.309-3.178 3.927-1.964L5.455 4.64 12 9.548l6.545-4.91 1.528-1.145C21.69 2.28 24 3.434 24 5.457z"
                        >
                        </path>
                    </svg>
                </a>
                <a
                    href="https://x.com/sureshksmy"
                    class="socialIcon absolute w-12 lg:w-16 aspect-square flex_center p-2 lg:p-4 bg-background outline-dashed outline-2 outline-contactSocialColor rounded-full"
                    title="Twitter"
                    target="_blank"
                    aria-label="Twitter"
                    rel="noreferrer"
                >
                    <svg
                        stroke="currentColor"
                        fill="currentColor"
                        style="color: var(--heroSocialColor);"
                        stroke-width="0"
                        viewBox="0 0 24 24"
                        height="30"
                        width="30"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
                        >
                        </path>
                    </svg>
                </a>
                <a
                    href="https://sureshks.wasap.my"
                    class="socialIcon absolute w-12 lg:w-16 aspect-square flex_center p-2 lg:p-4 bg-background outline-dashed outline-2 outline-contactSocialColor rounded-full"
                    title="WhatsApp"
                    target="_blank"
                    aria-label="WhatsApp"
                    rel="noreferrer"
                >
                    <!--?xml version="1.0" encoding="UTF-8"?-->
                    <svg
                        stroke="currentColor"
                        fill="currentColor"
                        style="color: var(--heroSocialColor);"
                        width="30px"
                        height="22px"
                        viewBox="0 0 30 22"
                        version="1.1"
                    >
        
    <path d="M25,2C12.318,2,2,12.318,2,25c0,3.96,1.023,7.854,2.963,11.29L2.037,46.73c-0.096,0.343-0.003,0.711,0.245,0.966 C2.473,47.893,2.733,48,3,48c0.08,0,0.161-0.01,0.24-0.029l10.896-2.699C17.463,47.058,21.21,48,25,48c12.682,0,23-10.318,23-23 S37.682,2,25,2z M36.57,33.116c-0.492,1.362-2.852,2.605-3.986,2.772c-1.018,0.149-2.306,0.213-3.72-0.231 c-0.857-0.27-1.957-0.628-3.366-1.229c-5.923-2.526-9.791-8.415-10.087-8.804C15.116,25.235,13,22.463,13,19.594 s1.525-4.28,2.067-4.864c0.542-0.584,1.181-0.73,1.575-0.73s0.787,0.005,1.132,0.021c0.363,0.018,0.85-0.137,1.329,1.001 c0.492,1.168,1.673,4.037,1.819,4.33c0.148,0.292,0.246,0.633,0.05,1.022c-0.196,0.389-0.294,0.632-0.59,0.973 s-0.62,0.76-0.886,1.022c-0.296,0.291-0.603,0.606-0.259,1.19c0.344,0.584,1.529,2.493,3.285,4.039 c2.255,1.986,4.158,2.602,4.748,2.894c0.59,0.292,0.935,0.243,1.279-0.146c0.344-0.39,1.476-1.703,1.869-2.286 s0.787-0.487,1.329-0.292c0.542,0.194,3.445,1.604,4.035,1.896c0.59,0.292,0.984,0.438,1.132,0.681 C37.062,30.587,37.062,31.755,36.57,33.116z"></path>
</svg>
                        </g>
                    </svg>
                </a>
            </div>

            <Image
                class="Fade_Up absolute bottom-10 md:bottom-2 w-[300px] md:w-[400px]"
                src={ContactArt}
                alt="ContactArt"
                loading="lazy"
            />
        </div>

        <ContactForm client:load />
    </div>
</section>

<script is:inline type="module">
    document.addEventListener("DOMContentLoaded", () => {
        const center = document.querySelector("#socialCircle");
        const images = document.querySelectorAll(".socialIcon");

        if (!center || !images.length) {
            console.error("Social circle or icons not found.");
            return;
        }

        const iconSize = images[0].clientWidth;
        const radius = Math.ceil((center.clientWidth + 2) / 2);

        images.forEach((image, index) => {
            const angle = (index / (images.length - 1)) * Math.PI;
            const x = Math.cos(-angle) * radius - iconSize / 2;
            const y = Math.sin(-angle) * radius - iconSize / 2;

            const imageStyle = image.style;
            const centerWidth = center.offsetWidth;
            const centerHeight = center.offsetHeight;

            imageStyle.left = `${centerWidth / 2 + x}px`;
            imageStyle.top = `${centerHeight / 2 + y}px`;
        });
    });
</script>
    
